<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- My CSS -->
  <link rel="stylesheet" href="./style.css">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!-- Google -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

  <title id="title">
    <%= title %>
  </title>
  <link rel="shortcut icon" type="image/jpg" href="<%= thumb %>" />

</head>

<body>

  <h3 class="judul">
    <%= title %>
  </h3>

  <img class="poto" src="<%= thumb %>" alt="thumbnail">
  <audio class="audio" controls autoplay>
    <source src="<%= direct %>">
  </audio>

  <h4 class="lirik">Lirik</h4>
  <div class="classLirik sc3" id="isiLirik">Jika lirik tidak cocok, masukkan nama artis dan judul lagu</div>
  <hr class="pemisah">
  <div class="classCari" id="cariGan"></div>

  <!-- Lirik -->
  <script src="./utama.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      getLirik();
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>

</body>

</html>