<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <!-- My CSS -->
    <link rel="stylesheet" href="./lobby.css" />
    <title>R45Y1D Player</title>
    <link rel="shortcut icon" href="./main.svg" />
  </head>

  <body>
    <div class="d-flex align-items-center" style="height: 100vh;">
      <div
        class="card mx-auto"
        style="
          width: 330px;
          height: auto;
          background-color: #323038;
          border-color: #323038;
        "
      >
        <div class="card-body sc3">
          <form action="yt" method="get">
            <img src="./youtube.svg" class="card-img-top" alt="Project01" />
            <div class="alert alert-primary py-2" >
              Masukkan judul/url, jika tidak diisi maka akan memutar lagu acak
            </div>
            <input type="text" class="form-control mb-3 text-center" placeholder="..." name="input">
            <button
              id="ytPlay"
              class="btn w-100"
              style="
                display: block;
                margin: auto 0;
                background-color: #bb00ff;
                color: white;
              "
              type="submit"
              role="button"
            >
              PLAY
          </button>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
