body {
    background: linear-gradient(to right, #AA076B, #61045F);
}

/* .tes {
    display: inline-block;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 8%;
    width: 30%;
}

.tes2 {
    display: inline-block;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 8%;
    width: 30%;
} */